/* Selector + propiedad + valor 
selector {
propiedad: valor 
}
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

 /* Selector universal */
 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    text-decoration: none;
}

/* Menú navegación */

.custom-navbar .nav-link {
    color: #88A58A; /* Color del texto */
}
.custom-navbar .nav-link:hover {
    color: #004040; /* Color al pasar el mouse */
}


/* Iconos */
.custom-icon-color {
    color: #004040;
}

.custom-icon-color:hover {
    color: #88A58A; 
}

/* Títulos */

h1, h2, h3, h4, h5, h6 {
    color: #004040

}

/* Párrafos*/

p {
    color: #004040;
}

/* Links */

a {
    text-decoration: none;
}

/* Fondos */

.fondo-claro {
    background-color: #efedea;
}

.fondo-oscuro {
    background-color: #004040;
}

.img-fondo-propiedades {
    background-image: url(../img/fondo-propiedades.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    align-content: center;
}

.btn-custom {
    background-color: #BCB9A8;
    color: white;
    border: none;
    
}

.btn-custom:hover {
    background-color: #88A58A; 
}


/* Footer */

footer {
    /* Color de fondo */
    background-color: #004040;
    /* Color del texto */
    color: white;
    /* Alinea el texto en el centro horizontalmente */
    text-align: center;
    /* Ajusta la altura del footer */
    height: 364px;
    /* Permite centrar el contenido */
    display: flex;
    /* Centra verticalmente */
    align-items: center;
    /* Centra horizontalmente */
    justify-content: center;
}

footer img {
    /* Ancho fijo */
    width: 100px;
    /* Altura automática para mantener la proporción */
    height: auto;

}

footer p {
    color: white;
}

/* Lineas */

.linea-footer {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 50px 0;
}

.linea-blog {
    width: 100%;
    height: 2px;
    background-color: #004040;
    margin: 80px 0;
}