$primary-color: #004040;          
$secondary-color: #efedea;       
$tertiary-color: #88A58A;      
$bg-light: #efedea;        
$bg-dark: #004040;         
$primary-font: "Open Sans", sans-serif;
$color-btn-custom: #BCB9A8 